player-connection-mode=Listen
player-connection-guid=2047663095
player-connection-debug=0
player-connection-project-name=Whack A Mole
player-connection-ip=172.19.176.1
player-connection-ip=192.168.2.137
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
